<div class="">
    <div class="p-5 my-4 bg-light rounded-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-5 fw-bold">Welcome Member!</h1>
            <p class="fs-4">This is the home page for the members-only application</p>
            <%= link_to 'Sign Up', new_user_path, class:'btn btn-lg btn-dark' %>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6 ">
            <div class="border rounded overflow-hidden shadow-sm h-100">
                <%= image_tag 'Blog_post.png',alt:'blog post image', class:'img-fluid rounded' %>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="border rounded overflow-hidden shadow-sm h-100">
                <%= image_tag 'Anonymous_feedback.png',alt:'anonymous guy image', class:'img-fluid rounded' %>
            </div>
        </div>
    </div>
</div>